# Bootstrap
app/bootstrap*

# Symfony directories
/vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
/app/config/parameters.ini
/app/config/parameters.yml

# NetBeans
nbproject/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
