{% extends '::base.html.twig' %}

{% block body %}
<h1>Welcome to BudgetTracker!</h1>

<p> You still don't have an account? <a href="#">Register</a> now! </p>

<p> You are already a member? <a href="#">Sign in</a>! </p>
{% endblock %}

