{% extends '::base.html.twig' %}

{% block title %} Months {% endblock %}

{% block body %}
    
    {% include 'AcmeBudgetTrackerBundle::navbar.html.twig' with {'var':'Months'} %}

    <div class="little-spacer text-center">
        <h1>Months</h1>   
    </div>

{% endblock %}