{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    {% include 'AcmeBudgetTrackerBundle::unlogged_navbar.html.twig' with {'var':'Password Reset'} %}

    <div class="big-spacer text-center">
        
        <p class="lead">{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
        
        <a href="{{ path('fos_user_security_login') }}">Go back to home page</a>
        
    </div>

{% endblock fos_user_content %}
