{% extends '::base.html.twig' %}

{% block title %} Error {% endblock %}

{% block body %}
    
    {% include 'AcmeBudgetTrackerBundle::navbar.html.twig' with {'var':'Error'} %}

    <div class="little-spacer text-center">       
        <h3>Error</h3> 
               
        <p class="lead text-error big-spacer">A problem has occured.</p>
        <p class="lead text-error"> It seems that there is no {{ item }} for the requested id.</p>
                
    </div> 
    
    {% include 'AcmeBudgetTrackerBundle::notifications.html.twig' %}

{% endblock %}