{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    {% include 'AcmeBudgetTrackerBundle::unlogged_navbar.html.twig' with {'var':'Confirm'} %}

    {# Main content #}
    <div class="text-center">

        <p class="big-spacer text-success lead">{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
        {% if app.session is not empty %}
            {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% endif %}
            
            <p class="big-spacer lead">You can now <a href="{{ path('fos_user_security_login') }}">log in</a> with your username and password.</p>
            
            <p class="lead">Enjoy your stay in BudgetTracker! </p>
            
    </div>

{% endblock fos_user_content %}